          <!--good info here-->
          <div>
            <%= image_tag @good.fuimage.public_filename()%><br>
              <%=@good.name%><br>
              Price:<%=@good.price%><br>
              Add to Cart: Not Implemented yet (((
          </div>